[Unit]
Description=go_app install
Wants=syslog.target
After=syslog.target

[Service]
ExecStart=/usr/local/go/bin/go run /usr/local/go/workspace/sainsb.go

[Install]
WantedBy=multi-user.target
